/*En este comentario vamos a poner los colores que vamos a utilizar
	body: ;
	header: ;
	p: ;
	letra p: ;
	botones: ;
	botones:hover: ;
	letra botones:;
	.
	.
	.
	etc

	Esta parte esta aun en proceso, se definira en la pestaña inicio
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	background-color: blue;
}

/*Estilo Cabecera y Pestaña Inicio:
	Encargado: Dani*/
header{
	position: relative;
	width: 100%;
	background-color: white;
	text-align: center;
}

header p{
	max-width: 1000px;
	margin: 0px auto 10px auto;
	padding: 10px 0;
	background-color: blue;
}

nav{
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	background-color: blue;
}

nav ul li{
	margin: 10px 10px;
	padding: 10px 10px;
	display: inline-block;
	background-color: white;
	width: 150px;
}

nav ul li:hover{
	color: white;
	background-color: black;
}

nav ul li:active{
	border: 2px solid yellow;
}

#main{
	position: relative;
	max-width: 1000px;
	height: 2000px;
	margin: 0 auto;
	background-color: red;
}

aside{
	margin: 10px 5px 5px 10px;
	display: inline-block;
	max-width: 32%;
	background-color: white;
}

article{
	margin: 10px 10px 5px 5px;
}

article#articleInicio1{
	position: absolute;
	display: inline-block;
	max-width: 66%;
	max-height: 30%;
	top: 0px;
	background-color: white;
}

img{
	margin: 5px 5px;
	max-width: 66%;
	max-height: 10%;
}

article#articleInicio2{
	margin: 10px 10px;
	background-color: white;
}

footer{
	text-align: center;
	position: absolute;
	/*display: inline-block;*/
	bottom: 0px;
	margin: 10px 10px;
	background-color: white
}

/*Estilo Pestaña Docencia y Empresas:
	Encargado: Fran

	Condiciones: Se respetara el estilo de la
		pagina de inicio en cuanto a color, bordes redondeados, etc
		lo que si se va a modificar es la posición y el tamaño del 
		elemento. Recordar dar el tamaño con valores en %
		Por tanto si en la pagina de inicio esta definido el 
		elemento article deberas ponerle un id, cuya notación será
		"elemento"+"nombre pestaña"+n, a tu article (en el HTML) y modificar 
		su estilo como en el ejemplo:
		
		article#articleDocencia1{
			position: relative;
			left: 0;
			width: 50px;
			height: auto;
		}

		Por otro lado si se necesita un estilo en concreto, como
		es el caso en la pestaña empresas que al hacer un hover
		sobre las imagenes realiza un efecto, se modificara
		las propiedades necesarias.*/

/*Estilo Pestaña Empleo, Opiniones y Media:
	Encargado: Rosana*/