/****************GENERAL****************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
	background-color: #00aacc;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

hr{
	width: 95%;
}

.shadow {
	box-shadow: 0px 0px 10px #000;
}

.negro{
	color: black;
	font-weight: bold;
}

.back-to-top{
	position: relative;
	display: inline;
	left: 59rem;
	width: 30px;
}

.anima {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	-webkit-animation: resaltar 5s infinite;
	animation: resaltar 5s infinite;
}

@keyframes resaltar
{
	0%  {color: #ff4e00; text-shadow: 0px 0px 2px #555;}
	25% {color: #e64600; text-shadow: 0px 0px 5px #555;}
	50% {color: #cc3e00; text-shadow: 0px 0px 8px #555;}
	75% {color: #b23700; text-shadow: 0px 0px 10px #555;}
	100% {color: #ff4e00; text-shadow: 0px 0px 2px #555;}
}

@-webkit-keyframes resaltar /* Safari y Chrome */
{
	0%  {color: #ff4e00; text-shadow: 0px 0px 2px #555;}
	25% {color: #e64600; text-shadow: 0px 0px 5px #555;}
	50% {color: #cc3e00; text-shadow: 0px 0px 8px #555;}
	75% {color: #b23700; text-shadow: 0px 0px 10px #555;}
	100% {color: #ff4e00; text-shadow: 0px 0px 2px #555;}
}

/****************CABECERA****************/
header#inicio{
	position: absolute;
	width: 100%;
	padding: 1px 0;
	background-color: #f4f4f4;
	text-align: center;
	z-index: 1;
}

header p{
	position: absolute;
	display: inline-block;
	padding: 10px 10px;
	left: 2%;
	top: 2%;
	color: #777c82;
	font-size: 35px;
	font-weight: normal;
	text-shadow: 10px 5px 10px;
	vertical-align: top;
}

header{
	text-align: center;
	padding: 10px 0;
}

header img{
	position: absolute;
	width: 70px;
	height: auto;
	margin: 10px 0;
	padding: 4px;
	right: 20px;	
	border-radius: 5px;
}

nav{
	display: block;
	max-width: 1000px;
	margin: 65px auto 10px auto;
	padding: 10px 0;
}

nav ul li{
	display: inline-block;
	width: 100px;
	margin: 0px 10px 0 10px;
	padding: 10px 10px;
	background: -webkit-linear-gradient(top,#ff4e00 0%,#e64600 25%,#cc3e00 50%,#b23700 75%,#992f00 100%);
	background: -moz-linear-gradient(top,#ff4e00 0%,#e64600 25%,#cc3e00 50%,#b23700 75%,#992f00 100%);
	background: -o-linear-gradient(top,#ff4e00 0%,#e64600 25%,#cc3e00 50%,#b23700 75%,#992f00 100%);
	background: -ms-linear-gradient(top,#ff4e00 0%,#e64600 25%,#cc3e00 50%,#b23700 75%,#992f00 100%);
	background: linear-gradient(top,#ff4e00 0%,#e64600 25%,#cc3e00 50%,#b23700 75%,#992f00 100%);
	border-radius: 10px;
	box-shadow: 0px 0px 5px #000;
	color: white;
	font-weight: bold;
}

nav ul li:hover{
	box-shadow: 0 0 50px #555 ;
	text-decoration: underline;
}

nav ul li:active{
	text-shadow: 0px 0px 10px;
	box-shadow: 0 0 15px #555 inset;
}

nav ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
/****************PRINCIPAL****************/
#main{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	top: 140px;
	background-color: #33BBD6;
	box-shadow: 0px 0px 50px #000;
}

/****************ASIDE****************/
aside{
	display: inline-block;
	width: 310px;
	margin: 20px 10px 10px 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
}

aside header{
	color: #cc3e00;
	font-size: 22px;
	font-weight: bold;
}

aside section{
	padding: 10px 20px;
}

aside section h2 {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #ff4e00;
	border-radius: 5px;
	color: white;
	text-align: center;
}

aside hr{
	width: 85%;
}

/****************ARTICULOS****************/
article{
	margin: 10px 10px 5px 5px;
	background-color: #f4f4f4;
	box-shadow: 0 0 50px #2C393B inset;
	border-radius: 5px;
}

article section{
	position: relative;
	display: inline-block;
	margin: 10px 10px;
	padding: 0 10px;
	text-align: justify;
}

h1{
	padding: 10px;
	color: #cc3e00;
	border-radius: 25px;
}

#articleInicio1{
	position: absolute;
	display: inline-block;
	max-width: 64%;
	margin: 40px 20px 10px 10px;
}

#articleInicio1 section{
	width: 43%;
	vertical-align: top;
	padding-bottom: 15px;
}

#articleInicio1 section ul{
	padding: 0 20px;
}

#imgMain{
	display: inline-block;
	max-width: 63%;
	margin: 5px 5px 30px 5px;
}


#articleInicio2{
	margin: 10px 20px;
}

#articleInicio2 section{
	width: 20%;
	padding-bottom: 10px;
	vertical-align: top;
}

/****************PIE DE PAGINA****************/
footer{
	display: inline-block;
	padding: 5px 10px 5px 30px;
	font-size: 12px;
}

/***************FRAN******************/
#articleDocencia1{
	margin: 0px 20px;
	padding-bottom: 20px;
}

#sectionDocencia1{
    position: relative;
    padding: 0;
    width: 60%;
    vertical-align: top;
}

#sectionDocencia2{
    position: relative;
    width: 20%;
    vertical-align: top;
}

#articleEmpresas1{
	margin: 0 20px;
}

.imgRow {
    float: none;
    width: 100% ;
}

img.gridImg {

        float: inherit;
        padding-left: 0px;
        padding-right: 0px;
        width: 32%;
        -webkit-transition: transform .25s ease;
        transition: transform .25s ease;
}

img.gridImg:hover {
        background-color: white ;
        -webkit-transform: scale(1.70) ;
        transform: scale(1.70) ;
}

/***************ROSANA****************/
/*EMPLEO*/

#articleEmpleo1{
	margin: 0px 20px;
}

#articleEmpleo1 section{
	width: 45%;
	vertical-align: top;
    text-align: center;
}

#articleEmpleo1 img{
	width: 100%;
	height: auto;
}

/*TABLA "OPINIONES"*/

#articleOpiniones1{
	margin: 0px 20px;
}

table, table.fullTable
{
    width: 90%;
    margin: auto;
    background-color: rgba(0,0,0, 0.2);
    text-align: left;
    border-radius: 18px;
    padding: 8px;
}

th
{
   text-align: center;
}

td:first-child{
    text-align: center ;
}

tr:nth-child(even)
{
    background-color: rgba(255,255,255, 0.1);
}

.fullTableDocencia {
    font-size: 14px ;
}

.fullTableDocencia table {
   background-color: green ;
}

.fullTableDocencia tr:nth-child(even) td{
    border-radius: 18px;
    background-color: #FBAC4F;
    text-align: left;
    padding: 8px;
    margin-bottom: 9px;

}

.fullTableDocencia tr:nth-child(odd) td {
	border-radius: 18px;
	text-align: right;
	padding: 8px;
	margin-bottom: 9px;
	background-color: #FDDEB9;
}

/*MEDIA*/
#articleMedia1{
	margin: 0px 20px;
}
#articleMedia1 section{
    width: 40%;
    vertical-align: top;
    text-align: center;
}

#articleMedia1 img{
	width: 100%;
	height: auto;
}

/*****************DANI****************/
/**************MEDIA QUERIES*************/
@media screen and (max-width: 1100px){
	/*CABECERA*/
	nav ul{
		margin-left: -20px;
	}

	nav ul li{
		margin: 5px 5px;
	}

	/*PRINCIPAL*/
	#articleInicio1{
		max-width: 65%;
		margin: 20px 20px 10px 10px;
		vertical-align: top;
	}

	#articleInicio1 section{
		width: 87%;
		padding: 5px 10px;
	}

	#imgMain{
		position: relative;
		max-width: 45%;
		top: 20px; 
		vertical-align: bottom;
	}

	#articleInicio2 section{
		width: 40%;
		margin-left: 30px;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 967px){
	/*CABECERA*/
	nav ul{
		width: 70%;
		margin-left: 50px;
	}

	nav ul li{
		margin: 5px 5px;
	}

	/*PRINCIPAL*/
	#main{
		top: 200px;
	}

	#articleInicio1{
		max-width: 50%;
	}

	/*FRAN*/
	#col_izda{
	    width: 100%;
	}

	#col_dcha{
	    width: 80%;
	}
}

@media screen and (max-width: 676px){
	/*PRINCIPAL*/
	#main{
		overflow: hidden;
	}
	aside{
		width: 94%;
	}

	#articleInicio1{
		position: relative;
		max-width: 94%;
		margin: 20px 20px;
		vertical-align: top;
	}

	#articleInicio1 section{
		width: auto;
	}

	#imgMain{
		vertical-align: middle;
		top: 0;
		max-width: 94%;
		margin: 20px 20px;
	}

	#articleInicio2 section{
		width: auto;
	}
}

@media screen and (max-width: 585px){
	/*CABECERA*/
	header p{
		left: 12%;
	}

	header img{
		display: none;
	}

	nav ul{
		margin-top: 25px;
		margin-left: 80px;
	}

	/*PRINCIPAL*/
	#main{
		top: 225px;
	}

	aside{
		width: auto;
	}

	#articleInicio1{
		max-width: auto;
	}

	#imgMain{
		max-width: auto;
	}
}

@media screen and (max-width: 585px){
	nav ul{
		width: auto;
		margin-left: 20px;
	}
}

@media screen and (max-width: 434px){
	#main{
		top: 275px;
	}
}